@media (max-width: 1110px) {
    body { 
        display: grid;
        grid-template: 
            "body01" auto
            "body02" auto
            "body03" auto /
            1fr;
    }


}
@media (max-width: 1050px) {
}
@media (max-width: 825px) {
}
@media (max-width: 768px) {
    header{
        display: flex;

        flex-direction: row;
        justify-content: center;
    }
    .header-nav {
        width: 104px;
        height: 100%;;
        margin: 10px 10px;
        align-items: center;
    
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 10px;
    
    
    
    }

    .titulo {
        color: #666666;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 10px;
    }
    .menu {
        justify-self: end;
        list-style-type: none;
    
        display: flex;
        flex-direction: row;
        
        gap: 25px;
    
        
    }
    body { 
        grid-template: 
            "body01" 100px
            "body02" auto
            "body03" 100px/
            1fr;
    }

    .tarjetas {
        grid-template:
        "t1"40px
        "t2"40px
        "t3"40px
        "t4"40px/
        1fr;
        
    }
}